/PCB/#auto_saved_files#
/PCB/chore tracker-B_Cu.gbr
/PCB/chore tracker-B_Mask.gbr
/PCB/chore tracker-B_Paste.gbr
/PCB/chore tracker-B_Silkscreen.gbr
/PCB/chore tracker-Edge_Cuts.gbr
/PCB/chore tracker-F_Cu.gbr
/PCB/chore tracker-F_Mask.gbr
/PCB/chore tracker-F_Paste.gbr
/PCB/chore tracker-F_Silkscreen.gbr
/PCB/chore tracker-NPTH-drl.gbr
/PCB/chore tracker-PTH-drl.gbr
/PCB/chore tracker-job.gbrjob
/PCB/chore tracker.zip
/PCB/chore tracker_bom.html.tmp
